*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --background-colour-1: linear-gradient(#6664FA, #3F3CB5);
}

.general-wrapper {
    display: flex;
    min-height: 100vh;
    background: var(--background-colour-1);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
}

.question-box-style {
    background: linear-gradient(#D4D4D4, #ADADAD);
    border-radius: 15px;
    border: 2px solid #969696;
}

.custom-size {
    height: 200px;
    width: 500px;
}

.custom-size-2 {
    width: 95%;
    height: 50%;
}

.margin-auto {
    margin: auto;
}

.small-gap {
    gap: 10px;
}

.question-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background: linear-gradient(#F2F2F2,#C4C4C4);
    border-radius: 25px;
    border: 3px solid gray;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    box-shadow: 0 0 15px 0 #0009;
    text-wrap: pretty;
    overflow: auto;
    overflow-x: hidden;
}


.fdc {
    flex-direction: column;
}

.fdr {
    flex-direction: row;
}

.question-title {
    color: black;
    font-size: 17px;
    font-weight: 100;
    padding: 10px 25px;
    background: transparent;
    margin-bottom: 25px;
}

.title-2 {
    color: black;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.scoreboard {
    width: 25%;
    background-color: white;
    margin-left: 0;
    transform: scale(0.9);
    border: 4px solid gray;
    border-radius: 25px;
    overflow: auto;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 15px 0 #0009;
}

.button {
    width: 200px;
    min-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 25px;
    border: 4px solid gray;
    padding-top: 0;
    overflow: auto;
    overflow-x: hidden;
}

.button:hover {
    background-color: #C9C9C9;
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 4px 4px 0 #0009;
}

.difficulty-button {
    width: 125px;
    height: 50px;
    margin: 0 15px;
    border-radius: 25px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.difficulty-button:hover {
    transform: scale(1.1) translateY(-5px);
}

.easy {
    border: 2px solid green;
    background: rgb(114, 186, 7);
}

.easy:hover {
    box-shadow: 0 4px 4px 0 green;
}

.medium {
    border: 2px solid rgb(176, 176, 1);
    background: rgb(252, 252, 82);
}

.medium:hover {
    box-shadow: 0 4px 4px 0 rgb(176, 176, 1);
}

.hard {
    border: 2px solid red;
    background: rgb(247, 62, 62);
}

.hard:hover {
    box-shadow: 0 4px 4px red;
}

.play-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid #5C5CFF;
    background: #8A8AFF;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 25px;
}

.play-button:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 4px 4px 0 #5C5CFF;
}

.answer-bg-colour {
    background-color: #F0F0F0;
}

.main-title {
    font-size: 25px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-shadow: 0 0 5px  rgba(0, 0, 0, 0.35);
}

.score-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 95%;
    height: 150px;
    background: linear-gradient(#B6B6B6, #9E9E9E);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 75px;
    margin-bottom: 25px;
}

.question {
    text-wrap: pretty;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    overflow: auto;
    padding: 25px;
}

.selector {
    width: 350px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    text-wrap: pretty;
    text-indent: 15px;
    font-weight: 100;
    background: #A464F7;
    border: 2px solid #34066F;
    transition: all 0.5s;
    outline: 0;
}

.selector:hover {
    box-shadow: 0 4px 4px 0 #34066F;
}

.selector option {
    background-color: #BD90F9;
    font-weight: 100;
    transition: all 0.5s;
}

.custom-padding {
    padding: 25px;
}

.question-text {
    font-size: 15px;
    text-align: center;
    justify-content: center;
}